@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notification" />

<div class="row text-center mb-4 mt-4 ">
    <div class="col-md-3 border border-dark">
        <h3>List Đơn Vị Tính</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap1" asp-action="Index">Xem Thêm</a></button>
    </div>
    <div class="col-md-3 border border-dark">
        <h3>List Loại Sản Phẩm</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap2" asp-action="Index">Xem Thêm</a></button>
    </div>
    <div class="col-md-3  border border-dark">
        <h3>List Sản Phẩm</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap3" asp-action="Index">Xem Thêm</a></button>
    </div>
    <div class="col-md-3 border border-dark">
        <h3>List Nhà Cung Cấp</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap4" asp-action="Index">Xem Thêm</a></button>
    </div>
</div>
<br>
<div class="row text-center mb-4 mt-4 ">

    <div class="col-md-3 border border-dark">
        <h3>List Kho</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap5" asp-action="Index">Xem Thêm</a></button>
    </div>
    <div class="col-md-3 border border-dark">
        <h3>User Kho</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap6" asp-action="Index">Xem Thêm</a></button>
    </div>
    <div class="col-md-3  border border-dark">
        <h3>List Phiếu Nhập</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap7" asp-action="Index">Xem Thêm</a></button>
    </div>
    <div class="col-md-3  border border-dark">
        <h3>List Phiếu Xuất</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap11" asp-action="Index">Xem Thêm</a></button>
    </div>
</div>
<br>
<div class="row text-center mb-4 mt-4">
    <div class="col-md-4  border border-dark">
        <h3>Báo Báo Cáo Nhập</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap15" asp-action="Index">Xem Thêm</a></button>
    </div>
    <div class="col-md-4  border border-dark">
        <h3>Báo Cáo Xuất Kho</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap16" asp-action="Index">Xem Thêm</a></button>
    </div>
    <div class="col-md-4  border border-dark">
        <h3>Báo Cáo Tồn Kho</h3>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="BaiTap17" asp-action="Index">Xem Thêm</a></button>
    </div>
</div>

