@model BaiTapModel12



<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <h2>Hiệu Chỉnh Sản Phẩm</h2>
    <hr />
    <div class="form-group">
        <label>Số Phiếu Xuất Kho</label>
        <input asp-for="Bai11.So_Phieu_Xuat_Kho" class="form-control"/>
        <span asp-validation-for="Bai11.So_Phieu_Xuat_Kho" class="text-danger"></span>
    </div>
    <div class="form-group pb-2">
        <label>Kho</label>
        <select asp-for="Bai11.Kho_ID" asp-items="@ViewBag.KhoList" class="form-control">
            <option disabled selected>==Chọn Kho==</option>
        </select>
        <span asp-validation-for="Bai11.Kho_ID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Ngày Xuất</label>
        <input asp-for="Bai11.Ngay_Xuat_Kho" class="form-control" />
        <span asp-validation-for="Bai11.Ngay_Xuat_Kho" class="text-danger"></span>
    </div>
    <div class="form-group pb-2">
        <label> Sản Phẩm</label>
        <select asp-for="Bai11_2.San_Pham_ID" asp-items="@ViewBag.SPList" class="form-control">
            <option disabled selected>==Chọn loại sản phẩm==</option>
        </select>
        <span asp-validation-for="Bai11_2.San_Pham_ID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Số Lượng</label>
        <input asp-for="Bai11_2.SL_Xuat" class="form-control" />
        <span asp-validation-for="Bai11_2.SL_Xuat" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Đơn giá</label>
        <input asp-for="Bai11_2.Don_Gia_Xuat" class="form-control" />
        <span asp-validation-for="Bai11_2.Don_Gia_Xuat" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Ghi Chú</label>
        <input asp-for="Bai11.Ghi_Chu" class="form-control" />
        <span asp-validation-for="Bai11.Ghi_Chu" class="text-danger"></span>
    </div>
    <input type="hidden" name="bai11Id" value="@Model.Bai11.Id" />
    <input type="hidden" name="bai11_2Id" value="@Model.Bai11_2.Id" />

    <button type="submit" class="btn btn-primary"> Edit </button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
