@model BaiTap4

<form asp-action="Add" method="post">
    <h2>Thêm Nhà Cung Cấp</h2>
    <hr />
    <div class="form-group">
        <label>Mã Nhà Cung Cấp</label>
        <input asp-for="Ma_NCC" class="form-control" />
        <span asp-validation-for="Ma_NCC" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tên Nhà Cung Cấp</label>
        <input asp-for="Ten_NCC" class="form-control" />
        <span asp-validation-for="Ten_NCC" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Ghi Chú</label>
        <input asp-for="Ghi_Chu" class="form-control" />
        <span asp-validation-for="Ghi_Chu" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary"> Save </button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

