@model BaiTap3

<form asp-action="Add" method="post">
    <h2>Thêm Sản Phẩm</h2>
    <hr />
    <div class="form-group">
        <label>Mã Sản Phẩm</label>
        <input asp-for="Ma_San_Pham" class="form-control" />
        <span asp-validation-for="Ma_San_Pham" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tên Sản Phẩm</label>
        <input asp-for="Ten_San_Pham" class="form-control" />
        <span asp-validation-for="Ten_San_Pham" class="text-danger"></span>
    </div>
    <div class="form-group pb-2">
        <label>Loại Sản Phẩm</label>
        <select asp-for="Loai_San_Pham_ID" asp-items="@ViewBag.LoaiSPList" class="form-control">
            <option disabled selected>==Chọn loại sản phẩm==</option>
        </select>
        <span asp-validation-for="Loai_San_Pham_ID" class="text-danger"></span>
    </div>

    <div class="form-group pb-2">
        <label>Đơn Vị Tính</label>
        <select asp-for="Don_Vi_Tin_ID" asp-items="@ViewBag.DonViTinhList" class="form-control">
            <option disabled selected>==Chọn đơn vị tính==</option>
        </select>
        <span asp-validation-for="Don_Vi_Tin_ID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Ghi Chú</label>
        <input asp-for="Ghi_Chu" class="form-control" />
        <span asp-validation-for="Ghi_Chu" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary"> Save </button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
